@import "tailwindcss";

:root {
  --brand: #16255C;
  --brand-light: #1e3a8a;
}

html {
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #0F172A;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
